@using SpotGuru.Helpers
@model IEnumerable<SpotGuru.Models.Favoritos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Favorites</h1>

<div>
    <link rel="stylesheet" href="/css/monumentDetails.css" />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Category")
                </th>
                <th>
                    @Html.DisplayName("Photo")
                </th>
            </tr>
        </thead>
    
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Monumentos" asp-route-id="@item.Monumentos.Id">@Html.DisplayFor(modelItem => item.Monumentos.Nome)</a>
                    </td>
                    <td>
                        @Html.DisplayName(EnumExtensionMethods.GetDescription(item.Monumentos.Categoria))
                    </td>
                    <td>
                        @{
                            string imagePath = "/images/monuments/" + item.Monumentos.pathFoto;
                        }
                    <img class="img_min" src=@imagePath alt="Not Found" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
