@model IEnumerable<SpotGuru.Models.Historico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>History</h1>

<div>
    <a asp-action="DeleteEntradasHistorico" asp-route-id=>Delete History</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Latitude")
            </th>
            <th>
                @Html.DisplayName("Longitude")
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Monumentos.Nome)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monumentos.Descrição)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monumentos.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monumentos.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monumentos.Categoria)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>