@model SpotGuru.Models.Monumentos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Monumentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt> 
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dd class = "col-sm-10">
            @{var url = "https://www.google.com/maps/place/" + Model.Latitude +","+ Model.Longitude;}
            <a href=@url>Obter direções</a>
        </dd>
        <h4>Reviews</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th>
                @Html.DisplayName("Classificacao")
            </th>
            <th>
                @Html.DisplayName("Comentario")
            </th>
        </tr>
    <tbody>
@foreach (var item in Model.Reviews) {
        <tr>
            <td>
                @Html.DisplayFor(m => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(m => item.Comentario)
            </td>
        </tr>
}
    </tbody>
</table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AddFavorito" asp-route-id="@Model.Id">Add Favorite</a> |
    <a asp-action="Index">Back to List</a>
</div>
