@using SpotGuru.ViewModels
@model SpotGuru.ViewModels.HorarioView

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Hora de Abertura")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Hora de Encerramento")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEncerramento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Custo(€)")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoSlot)
        </dd>
    </dl>
</div>

<link rel="stylesheet" href="/css/HorariosMapa.css" />
<div>
    <h4>Horario</h4>

    <table class="table" style="table-layout: fixed; width: 100%;">
            <tr>
                <td>
                    <strong>Inicio</strong>
                </td>
                @for(int i = 0; i < 7; i++){
                    <td class="text-center">
                         <strong>
                             @Html.DisplayName(Model.DiaAtual.AddDays(i).DayOfWeek.ToString())
                         </strong>
                    </td>
                }
            </tr>
        <tbody>
            @for(int i = Model.HoraAbertura; i*Model.DuracaoSlot < Model.HoraEncerramento*Model.DuracaoSlot; i++) {
                <tr>
                    <td>
                        @TimeSpan.FromMinutes(i*Model.DuracaoSlot)
                    </td>
                    
                    @for(int dia = 0; dia < 7; dia++)
                    {
                        int id = ((i - Model.HoraAbertura) - 1 + ((dia * (Model.HoraEncerramento * Model.DuracaoSlot - Model.HoraAbertura * Model.DuracaoSlot) / Model.DuracaoSlot) + 1));
                        int estado = Model.slotDisponibilidade(id);
                        switch(estado)
                            {
                                case 1:
                                    <td class="text-center">
                                        <label class="quadrado">
                                            <input type="checkbox" onclick="HandleSlot(id='@id')"> 
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    break;
                                case 2:
                                    <td class="text-center">
                                        <label class="quadrado">
                                        <input type="checkbox" onclick="HandleSlot(id='@id')" checked="checked" >
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    break;
                                case 3:
                                    <td class="text-center">
                                        <label class="ocupado"></label>
                                    </td>
                                    break;
                                default:
                                    <td class="text-center">
                                        <label class="indisponivel"></label>
                                    </td>
                                    break;
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    var HandleSlot = function(id){
        location.href= "/Monumentos/handleSlot?idHorario=" + @Model.Id + "&id=" + id;
    }
</script>