@model SpotGuru.ViewModels.HorarioView

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEncerrament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEncerrament)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoSlot)
        </dd>
    </dl>
</div>

<link rel="stylesheet" href="/css/HorariosMapa.css" />
<div>
        <h4>Horario</h4>

        <table class="table">
            <tr>
                <th>
                    Inicio
                </th>
                <th>
                    @Html.DisplayName("Sunday")
                </th>
                <th>
                    @Html.DisplayName("Monday")
                </th>
                <th>
                    @Html.DisplayName("Tuesday")
                </th>
                <th>
                    @Html.DisplayName("Wednesday")
                </th>
                <th>
                    @Html.DisplayName("Thursday")
                </th>
                <th>
                    @Html.DisplayName("Friday")
                </th>
                <th>
                    @Html.DisplayName("Saturday")
                </th>
            </tr>
        <tbody>

        @for(var i = Model.HoraAbertura; i < Model.HoraEncerrament ; i++) {
                <tr>
                    <td>
                        @TimeSpan.FromHours(i)
                        </td>
                    
                    @{
                        for(var dia = 0; dia<7; dia++)
                        {
                            switch(Model.slotDisponibilidade(dia,i))
                            {
                                case 1:
                                    <td>
                                        <label class="quadrado">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    break;
                                case 2:
                                    <td>
                                        <label class="quadrado">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    break;
                                case 3:
                                    <td>
                                        <label class="ocupado"></label>
                                    </td>
                                    break;
                                default:
                                    <td>
                                        <label class="indisponivel"></label>
                                    </td>
                                    break;
                            }
                        }
                    }
                </tr>
        }
            </tbody>
        </table>
    </div>