@model IEnumerable<SpotGuru.Models.Monumentos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Monumentos</h1>

<div>

    <link rel="stylesheet" href="/css/monumentDetails.css" />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descrição)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
            </tr>
        </thead>
    
        <tbody>
            @foreach (var item in Model) {
                <tr class="mon_miniature_section">
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrição)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @{
                            string imagePath = "/images/monuments/" + item.pathFoto;
                        }
                    <img class="img_mon_miniature" src=@imagePath alt="Not Found" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
